/* roboto-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* poppins-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* ======================================= Default css ======================================= */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins';
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.ptb-100 {
  padding: 100px 0;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding: 70px;
}

/* ======================================= slider bc css ======================================= */

.slider_bc {
  background-image: url(../img/1.jpg);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 340px 0 240px 0;
  margin-top: -19px;
  position: relative;
  margin-bottom: 80px;
}

/* ======================================= navigation css start ======================================= */
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.menu {
  padding: 10px;
  border-bottom: 2px solid white;
}

a {
  color: white;
  font-size: 13px;
}

.main_menu li a{
  text-transform: capitalize;
  font-size: 14px;
  padding: 25px;
  display: block;
  font-weight: 600;
  transition: .5s;
}

.main_menu li:first-child a{
  color: #FCB941 !important;
  border: 2px solid #FCB941;
}

.main_menu li:hover>a {
  color: #FCB941;
  
}

.bc_text {
  text-align: center;
  position: absolute;
  /* top: 300px; */
}

.bc_text h1 {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #fff;
  margin-left: 120px;
}

.line {
  margin-left: 460px;
  text-align: center;
  margin-top: -15px;

}

.line h6 {
  border: 2px solid #FCB941;
  width: 80px;
  margin: 10px;
}

.bc_text p {
  margin-left: 120px;
  color: #f3f3f3;
  letter-spacing: 1px;
  line-height: 24px;
  font-size: 14px;
  margin-top: 20px;
}

.bc_button_top {
  margin-left: 120px;
  margin-top: 20px;
}

.bc_button {
  background-color: #FCB941;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: .5s;
}

.bc_button:hover {
  background-color: #fff;
  color: #000;

}

/* ======================================= about css start ======================================= */

.about_text {
  text-align: center;
}

.about_text h2 {
  font-size: 35px;
  color: #333333;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.about_line {
  border: 1px solid #FCB941;
  display: inline-block;
  width: 68%;
  margin-bottom: 20px;

}

.about_text p {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 40px;
}

.about_img {
  width: 50%;
}

.about_img img {
  max-width: 100%;
}

.about_right {
  width: 50%;
  margin-left: 30px;
}

.about_p {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.about_icon_p {
  margin-top: 20px;
}

.about_icon_p p {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  line-height: 1.7;
}

.about_icon_p img {
  height: 30px;
  vertical-align: middle;
  margin-top: 8px;
}

.right_button {
  /* margin-left: 120px; */
  margin-top: 60px;
}

.right_bc_button {
  background-color: #FCB941;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: .5s;
}

.right_bc_button:hover {
  background-color: #333;
}

.about {
  margin-bottom: 100px;
}

/* ======================================= our service css start ======================================= */

.our_bg {
  background-color: #f6f6f6;
  padding: 80px 0 80px 0;
}

.our_text {
  text-align: center;
}

.our_text h2 {
  font-size: 35px;
  color: #333333;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.our_line {
  border: 1px solid #FCB941;
  display: inline-block;
  width: 68%;

}

.our_text p {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 40px;
}

.our {
  padding-bottom: 40px;
}

.our_class {
  width: 33.33%;
}

.our_ic_text {
  /* text-align: center; */
  padding-left: 15px;
}

.our_ic_text h3 {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10px;
}

.our_ic_text p {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 15px;
}

.our_ic_text a {
  color: #fcb941;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-right: 150px;
  /* margin-top: 15px; */
}

.our_ic_text a:hover {
  color: #333333;
}

/* ======================================= OUR ONGOING PROJECTS css start ======================================= */

.our_project {
  text-align: center;
}

.our_project h2 {
  font-size: 35px;
  color: #333333;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 80px;
}

.our_line {
  border: 1px solid #FCB941;
  display: inline-block;
  width: 68%;

}

.our_project p {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 40px;
}

.pro_img {
  width: 33.33%;
  padding-right: 15px;
  padding-left: 15px;
}

.pro_img img {
  width: 100%;
}

.pro_btn i {
  background-color: #FCB941;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
}

.pro_btn {
  text-align: center;
  margin-top: -30px;
  padding-bottom: 80px;
}

/* ======================================= EXPECTING css start ======================================= */

.EXPECTING_bg {
  background-image: url(../img/15.jpg);
  width: 100%;
  /* height: 100vh; */
  padding: 190px 0 190px 0;
}

.EXPECTING_text h1 {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  /* margin-left: 120px; */
}

.line {
  margin-left: 460px;
  text-align: center;
  margin-top: -15px;

}

.line h6 {
  border: 2px solid #FCB941;
  width: 80px;
  margin: 10px;
}

.EXPECTING_text p {
  margin-left: 120px;
  color: #f3f3f3;
  letter-spacing: 1px;
  line-height: 24px;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.EXPECTING_button_top {
  /* margin-left: 120px; */
  margin-top: 20px;
  text-align: center;

}

.EXPECTING_button {
  background-color: #FCB941;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: .5s;
}

.EXPECTING_button:hover {
  background-color: #fff;
  color: #000;

}

/* ======================================= gallery css start ======================================= */

.gallery_img img {
  width: 33.33%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30px;
}

/* .gallery_img img:hover {
  filter: opacity(75%);
} */

.gallery_button_top {
  /* margin-left: 120px; */
  margin-top: 20px;
  text-align: center;

}

.gallery_button {
  background-color: #FCB941;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-bottom: 100px;
  transition: .5s;
}

.gallery_button:hover {
  background-color: #333333;
  color: #fafafa;

}

/* ======================================= price card css start ======================================= */

.price {
  gap: 20px;
  text-align: center;
}

.price_card {
  width: 33.33%;
  border: 1px solid #222222;
  transition: .7s;
  /* padding-right: 15px;
  padding-left: 15px; */
}

.price_text p {
  color: #333333;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin: 0 auto;
  width: 80%;
  letter-spacing: 1px;
  padding: 15px;
  text-align: center;
}

.price_text h3 {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  font-weight: 600;
  border-bottom: 1px solid #FCB941;
  border-top: 1px solid #FCB941;
  padding: 10px;
  text-align: center;
}

.price_text img {
  margin: 20px auto;
}

.price_text .lc {
  padding-bottom: 15px;
  letter-spacing: 1px;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.price_card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.price_button_top {
  /* margin-left: 120px; */
  margin-top: 20px;
  text-align: center;

}

.price_button {
  background-color: #FCB941;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  transition: .5s;
}

.price_button:hover {
  background-color: #333333;
  color: #fafafa;
}

/* ======================================= GET A QUOTE css start ======================================= */

.QUOTE_bg {
  background-image: url(../img/25.jpg);
  width: 100%;
  padding: 150px 0 150px 0;
}

.get_quote {
  width: 33.33%;
  margin-left: 600px;
}

.quote_bg {
  background-color: #ffffff;
  padding: 30px;
}

.quote_text h3 {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.building i {
  background-color: #222222;
  color: #ffffff;
  position: absolute;
  font-size: 16px;
  height: 40px;
  padding: 13px;
  width: 40px;

}

select ,
.email{
  padding-left: 40px;
  border: 1px solid #222222;
  height: 40px;
  width: 100%;
}

.building_option select{
  padding-left: 60px;
}
.email::placeholder{
  padding-left: 30px;
}

.building_option option {
  font-size: 14px;
}

option:disabled {
  color: -internal-light-dark( rgb(170, 170, 170));
}

.form {
  margin-bottom: 20px;
}
.quot_button_top {
  /* margin-left: 120px; */
  margin-top: 20px;
  text-align: center;

}
.sqr .fa-arrows-alt{
  transform: rotate(90deg);
}

.quot_button {
  background-color: #FCB941;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  letter-spacing: 1px;
  /* margin-bottom: 30px; */
  transition: .5s;
  margin-top: 20px;

}

.quot_button:hover {
  background-color: #333333;
  color: #fafafa;
}

/* ======================================= FREQUENTLY css start ======================================= */

.FREQUENTLY_text {
  text-align: center;
}

.FREQUENTLY_text h2 {
  font-size: 35px;
  color: #333333;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 80px;
}

.our_line {
  border: 1px solid #FCB941;
  display: inline-block;
  width: 68%;

}

.FREQUENTLY {
  gap: 20px;
  margin-bottom: 80px;
}

.FREQUENTLY_text p {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 40px;
}

.FREQUENTLY_text1 {
  width: 50%;
}

.FREQUENTLY_img {
  width: 50%;
}

.FREQUENTLY_img img {
  width: 100%;
}

.FREQUENTLY_text1_bottam p {
  border-bottom: 1px solid #FCB941;
  border-left: 4px solid #222222;
  border-right: 1px solid #FCB941;
  border-top: 1px solid #FCB941;
  cursor: pointer;
  font-weight: 500;
  padding: 10px 15px;
  color: #666666;
  font-size: 14px;
  /* font-weight: 400; */
  line-height: 24px;
  margin-bottom: 20px;

}

.FREQUENTLY_text1_bottam p:hover {
  background-color: #FCB941;
  color: #000;
}

/* ======================================= gallery team css start ======================================= */

.team_card {
  width: 25%;
}

.team {
  gap: 20px;
}

.team_img {
  background-color: #222222;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.team_img:hover {
  background-color: #FCB941;
}

.team_img img:hover {
  filter: grayscale();
}

.team_text {
  text-align: center;
}

.team_text h3 {
  color: #FCB941;
  font-weight: 500;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 30px;
}

.team-br {
  border-bottom: 2px solid #FCB941;
  margin: 0 auto;
  width: 80%;
}

.team_card i {
  color: #666666;
  font-size: 14px;
  /* font-style: italic; */
  font-weight: 500;
  padding-top: 5px;
  margin-left: 100px;
  /* align-items: center; */
  text-align: center;
  line-height: 24px;
  margin-bottom: 80px;
}

/* ======================================= gallery ic css start ======================================= */

.gallery_bg {
  background-image: url(../img/31.jpg);
  width: 100%;
  padding: 200px 0 200px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery_view {
  width: 25%;
}

.gallery_view1 {
  text-align: center;
}

.gallery_view_img img {
  vertical-align: middle;
  margin: 0 0 20px 0;
  text-align: center;
}

.gallery_view_text p {
  color: #f3f3f3;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.gallery_view_text h3 {
  color: #f3f3f3;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* ======================================= OUR LATEST NEWS css start ======================================= */

.news_card_text {
  width: 33.33%;
  position: relative;
}

.news_img img {
  width: 100%;
  border-radius: 3px;
}

.news_card {
  gap: 30px;
}

.news_top {
  padding-left: 20px;
  position: absolute;
  top: 0;
  margin-left: 20px;
  background-color: #FCB941;
  padding: 10px;
  width: 80px;
  text-align: center;
}

.news_top_text h3 a,
.news_top h3 a {
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

.news_top .team-br {
  border-bottom: 1px solid #ffffff;
  width: 100%;
  margin-bottom: 5px;
}

.news_card_text p {
  color: #666666;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 20px;
  line-height: 24px;
  margin-bottom: 80px;
}

/* ======================================= OUR TESTIMONIAL css start ======================================= */


/* .slider_img img{
  margin-right: 15px;
} */
.slider1 {
  width: 100%;
}

.slider_text {
  padding-left: 20px;

}

.slider_text p {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-style: italic;
  padding-top: 3px;
  padding-left: 15px;
  border-left: 2px solid #FCB941;
}

.slider_text h3 {
  color: #FCB941;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  padding-bottom: 5px;
  text-align: right;
  margin-top: 10px;
  /* padding-left: 15px; */
  border-left: 2px solid #FCB941;
}

.slider_text h3 span {
  color: #666666;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
}

#slider .owl-dots .owl-dot span {
  background-color: #222222 !important;
  width: 35px;
  height: 4px;
}

#slider .owl-dots .owl-dot.active span {
  background-color: #FCB941 !important;
}

/* ======================================= contact css start ======================================= */


.contact_touch {
  width: 83.33%;
  margin-left: 100px;
  margin-bottom: 80px;
}

.contact_menu {
  margin-top: 80px;
  gap: 30px;
}

.contact {
  width: 50%;
  background-color: #f6f6f6;
  border-radius: 3px;
  padding: 20px;
}

.contact h3,
.TOUCH h3 {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contact input {
  background-color: transparent !important;
  border-bottom: 1px solid #dddddd !important;
  border-left: 0 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  height: 40px;
  display: block;
  width: 100%;
  /* height: 34px; */
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  /* background-color: #fff; */
  background-image: none;
  /* border: 1px solid #ccc; */
  margin-bottom: 20px;
}

.contact_button {
  padding-top: 10px;
}

.contact_button a {
  margin-right: 15px;
}

.TOUCH {
  width: 50%;
  background-color: #f6f6f6;
  border-radius: 3px;
  padding: 20px;
}

.adress {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
}

.adress h4 {
  color: #333333;
  font-size: 16px;
  line-height: 27px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.adress p {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  padding-left: 50px;
  padding-bottom: 15px;
}

/* ======================================= flutter css start ======================================= */

.flutter_bg {
  background-color: #333333;
  padding: 80px 0 80px 0;
}

.flutter {
  gap: 20px;
}

.flutter_text {
  width: 25%;
}

.flutter_text h3 {
  color: #f3f3f3;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.flutter_text .team-br {
  border-bottom: 1px solid #FCB941;
  width: 60%;
  margin-left: 0;
}

.flutter_text p {
  color: #f3f3f3;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 10px;
  margin-bottom: 20px
}

.flutter a {
  margin: 5px;
}

.flutter_icon a i {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #666666;
}

.PRODUCTS {
  padding-top: 15px;
}

.PRODUCTS_img {
  padding-bottom: 10px;
}

.PRODUCTS_img img {
  vertical-align: middle;
}

.PRODUCTS_img a,
.news_p a {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #f3f3f3;
}

.b_news {
  padding-top: 15px;
}

.news_p {
  margin-top: 10px;
}

.NEWS,
.news_p {
  margin-left: 5px;
}

.NEWS .date {
  color: #FCB941;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.insg {
  padding-top: 15px;
}

/* ======================================= bottum flutter css start ======================================= */


.bottum_flutter_bg {
  background-color: #222222;
}

.bottum_flutter_text {
  padding-bottom: 30px;
  padding-top: 30px;
}

.bottum_flutter_text p {
  color: #f3f3f3;
  letter-spacing: 1px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}